h3 {
    font-size: 15px;
    margin-left: 10px;
}
.name {
    margin: 0 !important;
    font-size: 12px;
}

.key-dot {
    display: inline-block;
    height: 10px;
    margin-right: .5em;
    width: 10px;
}

.legend {
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;
    border: 2px solid black;
}

.line {
    margin-left: 10px;
}

.ir0 {
  background: red;
  border-radius: 50%;
}
.ir1 {
  background: orange;
  border-radius: 50%;
}
.ir2 {
  background: blue;
  border-radius: 50%;
}
.ir3 {
  background: green;
  border-radius: 50%;
}
